page-forgot-password {
  ion-label {
    overflow: visible;
    white-space: normal;
  }
  .title {
    color: #85c500; // yellowgreen
    font-size: 2.0rem!important;
  }
  .mobile {
    border: 1px solid #FCBB83;
    border-radius: 5px;
    background-color: #ffffff;
  }
  .mobileTitle {
    font-size: 1.4rem!important;
    color: #0B00FF;
    font-weight: bold;
  }
  .send {
    background-color: #FCBB83;
    color: #0B00FF;
    border-radius: 10px;
    height: 43px;
    font-size: 2.0rem!important;
    margin: 13px 0;
  }
  span {
    margin-left: auto;
  }
  ion-icon {
    margin-left: auto;
  }
  ion-label {
    overflow: visible;
    white-space: normal;
  }
  .back-icon {
    margin: auto;
  }
  .same-space {
    margin: 13px 0;
    padding: 0;
  }
  .form {
  	height: max-content;
  	position: absolute;
  	top:0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
